{% extends "base.html" %}
{% block title %}Find your group{% endblock %}
{#% block left %#}
<!--<div class="col-md-3"></div>-->
{#% endblock %#}
{% block content %}
<div class="col-md-6">
    <h2>Create new group</h2>
    <form class="form-horizontal" role="form" method="post" id="member-form">{% csrf_token %}
    <div class="row">
        <h4>Group info</h4>
        <div class="form-group">
            <label for="subject-code" class="col-sm-3 control-label">Subject<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <select class="form-control" required id="subject-code" name="subject-code">
                    <option value="">Chooice one</option>
                    {% if all_subjects %}
                        {% for subject in all_subjects %}
                            <option value="{{subject.subject_code}}">{{subject.get_name}} - {{subject.subject_code}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="subject-theory" class="col-sm-3 control-label">Theory<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <input class="form-control" required id="subject-theory" name="theory" placeholder="Theory class" />
            </div>
        </div>
        <div class="form-group">
            <label for="subject-seminar" class="col-sm-3 control-label">Seminar</label>
            <div class="col-sm-9">
                <input class="form-control" id="subject-seminar" name="seminar" placeholder="Seminar class" />
            </div>
        </div>
        <div class="form-group">
            <label for="group-name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="group-name" name="group-name" placeholder="Group" />
            </div>
        </div>
        <div class="form-group">
            <label for="date-valid" class="col-sm-3 control-label">Date valid<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control datepicker" required id="date-valid" name="date-valid"  placeholder="Date valid" />
            </div>
        </div>
        <div class="form-group">
            <label for="leader-name" class="col-sm-3 control-label">Full name<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <input class="form-control" required id="leader-name" name="leader-name" placeholder="Full name" />
            </div>
        </div>
        <div class="form-group">
            <label for="leader-phone" class="col-sm-3 control-label">Phone<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <input class="form-control" required id="leader-phone" name="leader-phone" placeholder="Phone number" />
            </div>
        </div>
        <div class="form-group">
            <label for="leader-email" class="col-sm-3 control-label">Email<span class="red-cl"> *</span></label>
            <div class="col-sm-9">
                <input type="email" class="form-control" required id="leader-email" name="leader-email" placeholder="Email" />
            </div>
        </div>

        <hr />
    </div>
    <div class="row">
        <h4>Member</h4>
        {% for i in "012345678912345"%}
        <div class="row" id="member-row-{{ forloop.counter }}">
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control input-code" name="code" placeholder="Code" onblur="check_exists_code({{ forloop.counter }}, this.value)" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input class="form-control input-name" name="name" placeholder="Name" />
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <button type="button" class="btn btn-default" onclick="clear_member_field({{ forloop.counter }})">
                      <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <button type="button" class="btn btn-success hidden btn-add-member" onclick="add_or_remove__member_field({{ forloop.counter }})">
                      <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button type="button" class="btn btn-success hidden btn-view-member" onclick="view_member_field({{ forloop.counter }})">
                      <span class="glyphicon glyphicon-zoom-in"></span> View
                    </button>
                </div>

            </div>
            <input type="hidden" class="is-member" name="is-member" value="-1" />
        </div>
        <!--<hr />-->
        {% endfor %}
        <div class="col-md-6 .col-md-offset-6">
            <button type="submit" class="btn btn-default btn-lg" onclick="return check_form('member-form')">
              <span class=""></span> Save
            </button>
            <button type="reset" class="btn btn-default btn-lg" onclick="clear_group_field()">
              <span class=""></span> Reset
            </button>
        </div>
     </div>
    </form>
</div>
{% endblock %}
