django==1.6
django-select2>=4.2.2
django-ckeditor>=4.4.6
django-grappelli>=2.6.2
django-filebrowser>=3.5.7
django-debug-toolbar>=1.2.1
django-notification>=1.2.0
django-treemenus>=0.9.1
easy-thumbnails>=2.2
django-dajaxice>=0.7