{% load tree_menu_tags %}
{#% load dajaxice_templatetags %#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {#% dajaxice_js_import %#}
    {% load static %}
    <script src="{% static 'jquery/jquery-1.11.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'jquery-ui/css/ui-lightness/jquery-ui-1.10.4.css' %}" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css" media="screen"/>
    {% block static %}
    {% endblock %}
</head>
<body>
    {% include 'facebook_root.html' %}
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"><!--Toggle navigation--></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="text-primary">HLU</span></a>
                 <form class="navbar-form navbar-left hidden-lg hidden-md hidden-sm" role="search" action="/search">
                    <div class="input-group">
                      <input type="text" name="q" class="form-control" placeholder="Let's find magic">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
            <div class="navbar-collapse collapse">
                {% show_menu "top menu" %}
                 <form class="navbar-form form-inline  navbar-left hidden-xs" role="search" action="/search">
                    <div class="input-group">
                      <input type="text" name="q" class="form-control" placeholder="Let's find magic">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="#">Sign up</a></li>
                        <li><a href="/login/">Login</a></li>
                    {% else %}
                        <li><a href="/student/">{{ user }}</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/settings/">Settings</a></li>
                                <li><a href="/account/logout/">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
    </div>

    <!-- Search field -->
    <div class="row">
        {% block left %}
            <div class="col-md-3">

            </div>
        {% endblock %}
        {% block content %}
            <div class="col-md-6">

            </div>
        {% endblock %}
        {% block right %}
            <div class="news col-md-3 col-sm-3">
                {% if news %}
                <div><h3>Something You need</h3></div>
                    {% for n in news %}
                        <div class='news-title'>
                            <a href="{% url 'view_news_detail' n.id %}">
                                <span class="{% if n.seen %}text-info{% endif %}"><b>{{n.title}}</b></span>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
        {% endblock %}
    </div>
</div>
<script src={% static 'bootstrap/js/bootstrap.js' %}></script>
<script src={% static 'jquery-ui/js/jquery-ui-1.10.4.js' %}></script>
<script src={% static 'js/main.js' %}></script>

<!-- AJAX
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>

<script>
    setInterval(function(){
        notification_count()
    }, 10000)
    $('#notification').click(function(){
        view_notification()
    })
    function notification_count(){
        console.log("GET request /notification_count/ ")
        ajaxGet('/notification_count/', function(count){
        //onSuccess
        console.log("Data: "+ count)
        if ( count !=null && count != 0 ){
            $('#notification-count').html(" "+count+" ")
        }
        $('#notification-count').attr('data-count', count)

    })
    }
    function view_notification(){
        console.log("GET request /notification_view/ ")
        ajaxGet('/notification_view/', function(data){
        //onSuccess
        if (data !=null){
            for(i in data){
                console.log("Data: "+ data[i].content +" - "+ data[i].url)
            }
        }


        $('#notification-count').html("")

    })
    }
</script>
-->
</body>
</html>
