{% extends "base.html" %}
{% block title %}Create new Topic{% endblock %}
{% block static %}
{% load static %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% load django_select2_tags %}
{% import_django_select2_js_css %}
<script>
    $(document).ready(function() {
        CKEDITOR.replace( 'id_header',
            {
                customConfig: 'basic-config.js'
            }
        );
        CKEDITOR.replace( 'id_content',
            {
                customConfig: 'standard-config.js'
            }
        );
    });
</script>
{% endblock %}
{% block left %}
<!--<div class="col-md-3"></div>-->
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        {% if errors and errors.has_error %}
            {% for err in errors.list %}
                <div>{{err}}</div>
            {% endfor %}
        {% else %}
            {% if form %}
                <form action="" method="post" class="form-horizontal" id='topic-form' role="form">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                <div class="col-sm-2">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            </div>

                    {% endfor %}
                    <div class="form-group uploaded" id="uploaded-field">
                        <div class="col-sm-2">
                            <b>File Attach:</b>
                        </div>
                        <div class="col-sm-10  field">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>
                <form  action="{% url 'upload-topic-file' %}" method="post" class="form-horizontal"  enctype="multipart/form-data"  acceptcharset="UTF-8"
                       id='upload-form' role="form" target="upload-frame">
                    {% csrf_token %}
                    <div class="form-group" id='upload-field'>
                        <div class="col-sm-2">
                            <b>File Attach:</b>
                        </div>
                        <div class="col-sm-2">
                            <input typety="text" name="file-name" class="form-control"  />
                        </div>
                        <div class="col-sm-4">
                            <input type="file" name="file" class="form-control" />
                        </div>
                        <div class="col-sm-1 hidden ">
                                {% load staticfiles %}
                                <img src="{% static 'image/loading.gif' %}" alt="Uploading..."/>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" id="upload-btn" >Upload</button>
                        </div>
                    </div>


                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}
{% block static2 %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#upload-btn').click(function(){
            upload_file();
        });
    });
    function upload_file(){
        var action_url='';
        //$('#upload-frame').remove();
        $('body').append("<iframe src='123' id='upload-frame' style='display:None;' name='upload-frame' ><html><head></head><body></form></body></html></iframe>");
        var frame=document.getElementById('upload-frame');
        $('#topic-form').attr('target', 'upload-frame');
        $('#topic-form').attr('action', action_url);
        var content="";
        var eventHandler = function () {
            if (frame.detachEvent) frame.detachEvent("onload", eventHandler);
            else frame.removeEventListener("load", eventHandler, false);
          if (frame.contentDocument) {
              content = frame.contentDocument.body.innerHTML;
          } else if (frame.contentWindow) {
            content = frame.contentWindow.document.body.innerHTML;
          }else if (frame.document) {
             content = frame.document.body.innerHTML;
          }
            if (typeof console !="undefine"){
                console.log("content: "+content);
            }
            if (content.length != 0) {
                $('#uploaded-field .field .row').append(content);
            } else {
                alert('Upload error !');
            }
            $('#upload-frame').remove();

            // Del the iframe...
            setTimeout(function(){
                $('#upload-frame').remove();
            }, 250);
        }

        if (frame.addEventListener) frame.addEventListener("load", eventHandler, true);
        if (frame.attachEvent) frame.attachEvent("onload", eventHandler);
        document.getElementById('upload-form').submit();
    }
</script>
{% endblock %}
